<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Todo
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()"><ion-icon name="add"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="todo" color="primary">
            <ion-segment-button value="Home">
                <ion-icon name="home"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="Detail">
                <ion-icon name="information-circle"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-searchbar (ionInput)="getItems($event)" (onClear)="onClear()" (onCancel)="onClear()"></ion-searchbar>

    <div [ngSwitch]="todo">
        <ion-list reorder="true" (ionItemReorder)="reorderItems($event)" *ngSwitchCase="'Home'">

            <ion-item-sliding *ngFor="let item of items" (click)="viewItem(item)">


                <ion-item>
                    <h3>{{item.title}}</h3>
                </ion-item>
                <ion-item-options side="left">

                    <button (click)="edit(item)" light>
                         <ion-icon name="paper"></ion-icon>
                     </button>
                    <button ion-button icon-only (click)="delete(item)" danger>
                         <ion-icon name="trash"></ion-icon>
                     </button>
                </ion-item-options>

            </ion-item-sliding>


        </ion-list>










        <ion-list reorder="true" (ionItemReorder)="reorderItems($event)" *ngSwitchCase="'Detail'">

            <ion-item-sliding *ngFor="let item of items" (click)="viewItem(item)">


                <ion-item>
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                </ion-item>

                <ion-item-options side="left">

                    <button (click)="edit(item)" light>
                         <ion-icon name="paper"></ion-icon>
                     </button>
                    <button ion-button icon-only (click)="delete(item)" danger>
                         <ion-icon name="trash"></ion-icon>
                     </button>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>
    </div>

     <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

</ion-content>
